.signin-main-container-new{

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fb-icon{
  color: #316FF6;
  font-size: 40px;
 
}
.passc-icons{
    color: black;
 
}

.signin-btn{
  background-color: white;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
}
.gog-icon{
  font-size: 40px;
  z-index: 1;
}
.right-side-box-new{
  background-image: url('../Images/background.png');
  width: 50%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-signin{
  width: 198px;
}
.forget-login{
  color: white;

 }
.passc-icons{
    color: black;
  
    font-size: 30px;
    z-index: 1;
}
.signin-input-new{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signin-input-new input {
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    padding: 10px 2em;
    box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
}

.left-side-box h1{
text-align: center;
font-size: 25px;
padding: 10px;
}
.left-side-box p{

  text-align: center;
  font-size: 15px;
  padding: 20px;
}
.signup-input input{
  width: 300%;
  margin-left: 40%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
}
.signup-input span{
  margin-left: 35%;
}
.signup-btn{
  background-color: white;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
  cursor: pointer;
}
.left-side-box{
    display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    background-color: #F79F07;
    width: 50%;
    min-height: 100vh;
}
.facebook-login{
  display: flex;
  justify-content: space-between;
  align-items: center;

 
}
.fb-box{
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 20%;
  height: 60px;
  margin-left: 20%;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
  
}

.gog-box{
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
    margin: auto;
}
.left-side-box h2{
padding: 10px 1em;
}
@media screen and (max-width:600px) {
  .group-image-signin{

    width: 90%;
    margin-top:-9%;
    margin-left: 3%;
  }
  .signin-input-new {

    margin-top: 150px;
  }
  .logo-signin{
    width: 398px;
  }
  .signin-input-new input{
   margin-top: 20px;
    width: 190%;
    margin-left: 10%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);

  }
  .signin-main-container-new{
    background-color: #F79F07;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .forget-login{
   color: white;
  margin-left: 30%;
  }
.left-side-box{
  margin-top: 139%;
  background-color: #F79F07;
  width: 66vh;
  height: 80vh;
 margin-left: -243px;
  z-index: -1;
}

.right-side-box-new{
  background-image: url('../Images/background.png');
  width: 100%;
  background-position: center;
  background-size: cover;
}

.fb-box {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 48%;
  height: 60px;
  margin-left: 10%;
  margin-top: 33%;
  border-radius: 10px;
  box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
}
.signup-input-new span {
  margin-top: -30%;
  margin-left: 75%;
}
.signin-btn{
  margin-left: 10%;
  margin-top: 85%;
  background-color: white;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
}
.left-side-box h2 {
  margin-top: 375px;
  margin-left: 20%;
}
.gog-box {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 45%;
  height: 60px;
  margin-left: -39%;
  margin-top: 160px;
  border-radius: 10px;
  box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
}
.passc-icons{
    color: black;
    margin-left:  182%;
    margin-top: -54px;
    font-size: 30px;
    z-index: 1;
}

}