.signup-main-container{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .signup-form{
 background-color: #F79F07;
    width: 50%;
    min-height: 100vh;
  }
  .fb-icon{
    
    color: #316FF6;
    font-size: 40px;
    margin-top: 3%;
    margin-left: 5%;
  }
  .pass{
    margin-left: 50%;
  }
  .pass-icons{
    
    color: black;
    margin-left:  34%;
    margin-top: -97px;
    font-size: 30px;
    z-index: 1;
  }
 
 
  /* .signup-btn {
    
    margin-left: 5%;
    margin-top: 149%;
    background-color: white;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
  } */
  .right-side-box{
    background-image: url('../Images/background.png');
    width: 50%;
    min-height: 110vh;
    background-position: center;
    background-size: cover;
  }
  .group-image-signup{
    width: 80%;
    margin: auto;
  }
  
  .left-side-box-signup h4{
 
    color: aliceblue;
  }
  .left-side-box-signup h1{
    
    margin-top: -150px;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin-left: 2%;
  }
  .left-side-box-signup span{
    
    margin-top: -5%;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    margin-left: 15%;
  }
 .signup-input-new input {
    width: 100%;
  
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
    margin: 10px 30%;
}
  .signup-input-new span{
    
    margin-left: 35%;
  }
  .signup-btn{
    
    margin-left: 5%;
    background-color: white;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
  }
  
  .gog-box-new h3{

  }
  .fb-box-new{
    
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 20%;
    height: 60px;
    margin-left: 20%;
    margin-top: -4%;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
    
  }
  .fb-box-new h3{
    
    margin-top: 15px;
    margin-left: 25%;
  }
  .signup-btn-new{
    margin: auto;
  }
  .gog-box-new{
    
    background-color: white;
    max-width: 500px;
    height: 60px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   border-radius: 10px;
   box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
   margin: auto;
  }
  .left-side-box-signup img{
  
    width: 300px;
  }
  .left-side-box-signup p{
    
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: -40px;
    margin-left: 80px;
  }
@media screen and (max-width:600px) {
  .left-side-box-signup{
    position: relative;
  }
  .left-side-box-signup p{
    
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: -40px;
    margin-left: 30px;
  }
  .signup-main-container{
    background-color: #F79F07;
    width: 100%;
    height: 140vh;
    display: block;
    justify-content: space-between;
    align-items: center;
  } 
  .group-image-signup {
    width: 90%;
   
}
.logo-signup {
  /* 
  width: 398px;
  margin-top: 30%; */
}
  .right-side-box {
    background-image: url('../Images/background.png');
    width: 100%;
    background-position: center;
    background-size: cover;
}
.left-side-box-signup{
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  /* margin-top: 150%; */
  
}
.left-side-box-signup img {
  
  margin-top: -20px;
  margin-left: 20%;
  width: 300px;
}
.signup-input-new{
  
  margin-top: 44%;
}
.signup-input-new input{
  width: 150%;
  margin-left: 30%;
  padding: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
}
.left-side-box-signup h2{
  
  margin-top: 800px;
  margin-left: 25%;
  color: white;
}
.signup-btn {
  
  margin-left: 5%;
  margin-top: 149%;
  background-color: white;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
}
/*  */
.fb-box-new {
  
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 45%;
  height: 60px;
  margin-left: 14%;
  margin-top: 360%;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
}
.gog-box-new {
  
  background-color: white;
  width: 50%;
  height: 60px;
  display: flex;
  margin-left: -39%;
  margin-top: 360%;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
}
.pass{
  margin-left: 50%;
}
.pass-icons{
  
  color: black;
  margin-left:  154%;
  margin-top: -97px;
  font-size: 30px;
  z-index: 1;
}
.left-side-box-signup h4 {
  margin-top: 125%;
  margin-left: 45%;
  color:white;
}
.left-side-box-signup span {
  
  margin-top: -28%;
  text-align: center;
  font-size: 50px;
  padding: 20px;
  margin-left: 1%;
}
.logo-signup-new{
  
  width: 90%;
  margin-top:100%;
  margin-left: 6%;
}
.group-image-signup{
  
  width: 90%;
  margin-top:120%;
  margin-left: 6%;

}

}