.taemcaro{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 30px;
    margin-top: 20%;

}
ul li{
    list-style: none;
    
}
.slide{
    border-radius: 0.5px;
    box-shadow: 0px 0px 7px #666;
    border-radius: 50%;
    width: 60%;
        border: 8px solid #34327C;
        margin: auto;
}

.slide img{
    width: 100px;
}
.arrow{
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: #fff;
    z-index: 1;
}
.arrow-left{
    margin-left: -60px;
    background-color: turquoise;
    border-radius: 100%;
    display: none;
}
.right-arrow {
    margin-right: -570px;
    background-color: turquoise;
    border-radius: 100%;
        display: none;

}
.indicetors {
    display: flex;
    position: absolute;
    bottom: 1rem;
    z-index: 1;
    margin: -134px;
    margin-left: -123px;
    margin-top: 78px;
    /* background-color: #34327C; */
}
.indecetor{
    background-color: #d12881;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    border: none;
    outline: none;
    margin: 0 0.2rem ;
    cursor: pointer;
}
.slide-hidden{
    display: none;
}
.indecetor-inactive{
background-color: #666;
}
@media screen and (max-width:600px){
     .slide {
        border-radius: 0.5px;
        box-shadow: 0px 0px 7px #666;
        height: 70%;
        width: 70%;
        border-radius: 50%;
        margin-left: 28px;
    }
    .arrow{
        position: absolute;
        width: 2rem;
        height: 2rem;
        color: #fff;
        z-index: 1;
    }
    .arrow-left{
        margin-left: -80px;
        background-color: turquoise;
        border-radius: 100%;
    }
    .slide img{
    
        width: 100px;
    }
    .right-arrow {
        margin-right: -540px;
        background-color: turquoise;
        border-radius: 100%;
    }
    .indecetor{
        background-color: #fff;
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 100%;
        border: none;
        outline: none;
        margin: 0 0.2rem ;
        cursor: pointer;
       
    }
    .indecetor-inactive{
        background-color: #666;
        }
}